#partita:hover{
    color: rgb(157, 205, 230);
    background-color: rgb(148, 133, 228);
    left: .1em;
    border-radius: 4px;

}
#partita{
    color: rgb(62, 43, 235);
    background-color: rgb(217, 215, 233);
    padding: 0.8em 0.7em 0 0.7em;
    
  

}

.row{
    border-radius: 50px;
    

}

#giornata{
    color: rgb(14, 5, 102);
    background-color: rgb(167, 162, 201);
    padding: 0.9em 0.8em 0 0.8em;
    border-style:outset;

}


.text1{
    text-align: center;
    
    
}